<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <nav class="bg-blue-900 text-white flex justify-between items-center p-4 shadow sticky top-0 z-10">
        <div class="navbar-left flex flex-row items-center">
            <img src="/hacktify-logo-design-final.png" alt="logo" class="w-32">
            <a href="/" id="analysisLink"
            class="text-white hover:bg-blue-800 px-3 py-2 rounded-md text-sm font-medium">Analysis</a>
            <!-- <a href="/previousCampaign" id="analysisLink"
                class="text-white hover:bg-blue-800 px-3 py-2 rounded-md text-sm font-medium">Last Campaign</a> -->
            <a href="/user/reported" id="reportLink"
                class="text-white hover:bg-blue-800 px-3 py-2 rounded-md text-sm font-medium">Data</a>
        </div>
        <div class="navbar-right">
            <button id="signOutBtn" class="bg-green-600 hover:bg-green-700 text-white px-4 py-2 rounded-md"
                onclick="logout()">Sign Out</button>
        </div>
    </nav>
</body>
<script src="/isSignin.js"></script>
</html>