<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Emails</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100">
    <nav class="bg-blue-900 text-white flex justify-between items-center p-4 shadow sticky top-0">
        <div class="navbar-left flex flex-row">
            <img src="/logo.jpg" alt="logo" style="width: 100px;">
            <a href="/" id="analysisLink"
                class="text-white hover:bg-blue-800 px-3 py-2 rounded-md text-sm font-medium">Analysis</a>
            <a href="/reported" id="reportLink"
                class="text-white hover:bg-blue-800 px-3 py-2 rounded-md text-sm font-medium">Reports</a>
            <a href="/download-users-excel/campaign1" id="reportLink"
                class="text-white hover:bg-blue-800 px-3 py-2 rounded-md text-sm font-medium">Campaign1 Stats</a>
            <a href="/download-users-excel/campaign2" id="reportLink"
                class="text-white hover:bg-blue-800 px-3 py-2 rounded-md text-sm font-medium">Campaign2 Stats</a>
        </div>
        <div class="navbar-right">
            <button id="signOutBtn" class="bg-green-600 hover:bg-green-700 text-white px-4 py-2 rounded-md"  onclick="logout()">Sign
                Out</button>
        </div>
    </nav>
    <div class="max-w-3xl mx-auto bg-white rounded-lg shadow-md p-6 mt-12">
        <div class="flex flex-row justify-between mb-8">
            <h1 class="text-xl font-semibold mb-4">User Emails</h1>
            <div class="flex flex-row">
                <form id="uploadForm" enctype="multipart/form-data" >
                    <p class="text-red-500">** Upload Excel with emails in first column **</p>
                    <input type="file" name="file" accept=".xlsx, .xls">
                    <button type="submit" class="bg-blue-500 hover:bg-blue-600 px-2 rounded text-white ">Upload</button>
                </form>
                <!-- Button to open modal -->
                <button onclick="openModal()" class="bg-blue-500 hover:bg-blue-600 text-white font-bold px-4 py-2 rounded mx-4 flex items-center"><i class="fa-solid fa-user-plus pr-2"></i>Add User</button>
                <a href="/download-users-excel/campaign3"
                    class="bg-blue-500 hover:bg-blue-600 text-white font-bold px-4 rounded flex items-center"> <i
                        class="fas fa-file-excel mr-2"></i>Export to Excel</a>
                
            </div>
        </div>

        <!-- Modal -->
        <div id="modal"
            class="fixed top-0 left-0 w-full h-full bg-gray-800 bg-opacity-50 flex justify-center items-center hidden">
            <div class="bg-white rounded-lg p-6">
                <h2 class="text-2xl font-bold mb-4">Add User</h2>
                <input type="text" id="emailId" class="w-full border rounded px-3 py-2 mb-4"
                    placeholder="Email Address">
                <button onclick="addUser()" class="bg-blue-500 text-white px-4 py-2 rounded">Add</button>
                <button onclick="closeModal()" class="bg-gray-500 text-white px-4 py-2 rounded ml-2">Cancel</button>
            </div>
        </div>
        <div class="overflow-x-auto">
            <h1 class="my-4 text-xl font-bold text-indigo-500 underline">Third Campaign users...</h1>
            <table class="w-full table-auto">
                <thead>
                    <tr>
                        <th class="border px-4 py-2">#</th>
                        <th class="border px-4 py-2">User ID</th>
                        <th class="border px-4 py-2">Email</th>
                        <th class="border px-4 py-2">Reported Spam</th>
                    </tr>
                </thead>
                <tbody id="userList"></tbody>
            </table>
        </div>
    </div>

    <script>
        // Function to fetch users' emails from the server
        async function fetchUserEmails() {
            try {
                const response = await fetch('/users-emails');
                const users = await response.json();
                displayUsers(users);
            } catch (error) {
                console.error(error);
            }
        }

        // Function to display users on the screen
        function displayUsers(users) {
            const userListBody = document.getElementById('userList');
            userListBody.innerHTML = ''; // Clear previous content

            // Loop through each user
            users.forEach((user, index) => {
                const row = document.createElement('tr');
                row.innerHTML = `
            <td class="border px-4 py-2">${index + 1}</td>
            <td class="border px-4 py-2">${user._id}</td>
            <td class="border px-4 py-2">${user.emailId}</td>
            <td class="border px-4 py-2 flex flex-row justify-center">
                <button class="${user.reportedSpam ? " bg-red-500 hover:bg-red-700" : "bg-green-500 hover:bg-green-700"} text-wrap text-white font-bold py-2 px-4 rounded mr-2" onclick="handleAction('${user._id}', '${user.reportedSpam ? 'false' : 'true'}')">
                    ${user.reportedSpam ? '<i class="fa-regular fa-circle-xmark mr-2" ></i>No' : '<i class="fa-solid fa-check mr-2"></i> Yes'}
                </button>
            </td>
        `;
                userListBody.appendChild(row);
            });
        }

        // Function to handle accept action
        async function handleAction(userId, action) {
            try {
                const response = await fetch(`/accept-report/${userId}`, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ action })
                });
                if (response.ok) {
                    console.log(`Action "${action}" performed for user ID: ${userId}`);
                    fetchUserEmails(); // Refresh the user list after performing the action
                } else {
                    console.error(`Failed to perform action "${action}" for user ID: ${userId}`);
                }
            } catch (error) {
                console.error(`Error while performing action "${action}" for user ID: ${userId}`, error);
            }
        }

        // Fetch users' emails when the page loads
        fetchUserEmails();

        function openModal() {
            document.getElementById('modal').classList.remove('hidden');
        }

        function closeModal() {
            document.getElementById('modal').classList.add('hidden');
        }

        async function addUser() {
            const emailId = document.getElementById('emailId').value;
            const response = await fetch('/users', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ emailId })
            });
            const data = await response.json();
            if (response.ok) {
                alert(data.message);
                closeModal();
                fetchUserEmails();
            } else {
                alert(data.message);
            }
        }

        document.getElementById('uploadForm').addEventListener('submit', async (event) => {
            event.preventDefault(); // Prevent default form submission

            const formData = new FormData();
            formData.append('file', event.target.file.files[0]);

            try {
                const response = await fetch('/upload', {
                    method: 'POST',
                    body: formData
                });

                if (response.ok) {
                    const data = await response.json();
                    alert(data.message);
                    console.log(data.users); // Log the created users to the console
                } else {
                    alert('Failed to upload file');
                }
            } catch (error) {
                console.error('Error:', error);
                alert('An error occurred');
            }
        });

    </script>
    <script src="isSignin.js"></script>
</body>

</html>
